body{
    background-color: rgb(13, 14, 12);
}

h3{
    color: rgb(228, 139, 228);
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

#l1 {
    color:rgb(176, 243, 243);
    font-size: 1vw;    
}

#l2 {
    color:rgb(61, 171, 223);
    font-size: 1vw;  
}

#l3 {
    color:rgb(38, 67, 199);
    font-size: 1vw;
}

#l4 {
    color:rgb(228, 130, 203);
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;  
}

#l5 {
    color:rgb(128, 216, 117);
    font-size: 1vw;  
}

#l6 {
    color:rgb(235, 163, 30);
    font-size: 1vw;       
}

#l7 {
    color:rgb(209, 102, 143);
    font-size: 1vw;  
}
